{% block body %}
    <h1>{{ liste.nom }}</h1>
    <a href="{{ path('app_home') }}">Retour à la page d'accueil</a>
    <form action="{{ path('valider_achat_article', {'id': liste.id}) }}" method="post">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Type</th>
                    <th>Acheté</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.nom }}</td>
                        <td>{{ article.quantite }}</td>
                        <td>{{ article.prix }}</td>
                        <td>{{ article.type }}</td>
                        <td><input type="checkbox" name="articles[]" value="{{ article.id }}" {% if article.achete %}checked{% endif %}></td>
                        <td>
                            <a href="{{ path('app_article_modifier', {'id': article.id}) }}">Modifier</a>
                            <form action="{{ path('app_article_supprimer', {'id': article.id}) }}" method="post" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Valider les achats</button>
    </form>
    <a href="{{ path('app_article_ajouter', { 'id': liste.id}) }}">Ajouter un article</a>
{% endblock %}


