{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listes de courses</h1>

    <ul>
        {% for liste in listes %}
            <li>
                <a href="{{ path('app_liste_afficher', {'id': liste.id}) }}">{{ liste.nom }}</a>
                <a href="{{ path('app_liste_modifier', {'id': liste.id}) }}" class="btn btn-primary">Modifier</a>
                <a href="{{ path('app_liste_supprimer', {'id': liste.id}) }}" class="btn btn-danger">Supprimer</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_liste_nouveau') }}" class="btn btn-primary">Nouvelle liste</a>
{% endblock %}


