{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier la liste "{{ liste.nom }}"</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_liste_afficher', {'id': liste.id}) }}" class="btn btn-secondary">Retour</a>

    <form method="POST" action="{{ path('app_liste_supprimer', {'id': liste.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette liste ?')">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
{% endblock %}
