{% extends 'base.html.twig' %}

{% block title %}Creer une liste{% endblock %}

{% block body %}
{{form_start (form)}}
{{form_widget (form)}}
<button>{{button_label|default('save')}}</button>
{{form_end (form)}}
{% endblock %}