{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un nouvel article</h1>

    {{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.quantite) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.type) }}

    <input type="hidden" name="liste_id" value="{{ liste.id }}">

    <button type="submit">Ajouter</button>

    {{ form_end(form) }}
{% endblock %}
