{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier l'article "{{ article.nom }}"</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.quantite) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.type) }}
        <input type="submit" value="Modifier">
    {{ form_end(form) }}

    <a href="{{ path('app_liste_afficher', {'id': liste.id}) }}">Retour à la liste</a>
{% endblock %}
